{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Add service</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_user') }}">
        <!-- Full name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-regular fa-user prefix light-blue-text text-darken-4"></i>
                <input id="user_name" name="user_name" minlength="3" maxlength="124" type="text" class="validate" required>
                <label for="user_name">Full Name</label>
            </div>
        </div>
         <!-- Email -->
         <div class="row">
            <div class="input-field col s12">
                <i class="fa-regular fa-user prefix light-blue-text text-darken-4"></i>
                <input id="email" name="email" type="email" class="validate" required>
                <label for="email">Email</label>
            </div>
        </div>
        <!-- Password -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-regular fa-user prefix light-blue-text text-darken-4"></i>
                <input id="password" name="password" minlength="10" maxlength="124" type="text" class="validate" required>
                <label for="password">Password</label>
            </div>
        </div>
        <!-- Access -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-regular fa-user prefix light-blue-text text-darken-4"></i>
                <select id="access" name="access" class="validate" required>
                    <option value="" disabled selected>Select User Acess</option>
                    <option value="support">Support Worker</option>
                    <option value="manager">Manager</option>
                    <option value="it">IT Technician</option>
                </select>
                <label for="access">Access</label>
            </div>
        </div>
         <!-- Service -->
         <div class="row">
            <div class="input-field col s12">
                <i class="fa-regular fa-user prefix light-blue-text text-darken-4"></i>
                <select id="service" name="service" class="validate" required>
                    <option value="" disabled selected>Select Service</option>
                    {% for service in services %}
                        <option value="{{service.id}}">{{service.name}}</option>
                    {% endfor %}
                </select>
                <label for="service">Service</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1">
                    Add User <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}