<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/747d96a444.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" type="text/css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="light-blue darken-1 nav-extended">
            <div class="nav-wrapper">
              <a href="{{url_for('login')}}" class="brand-logo">Financial Care</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="{{url_for('login')}}">Home</a></li>
                <li><a href="{{url_for('services')}}">Services</a></li>
                <li><a href="{{url_for('service_users')}}">Individual</a></li>
                {% if session["user_access"]in ["manager", "it"] %}
                  <li><a href="{{url_for('users')}}">Staff</a></li>
                {% endif %}
                <li class="red"><a href="{{url_for('logout')}}">Log out</a></li>
              </ul>
            </div>

            <div class="nav-content tooltipped" data-position="top" data-tooltip="Click to hide" onclick="hideNavAlert()">
                <p id ="nav-alert" class="red hide">This is an Alert</p>
            </div>
          </nav>
        
          <ul class="sidenav" id="mobile-demo">
                <li><a href="{{url_for('login')}}">Home</a></li>
                <li><a href="{{url_for('services')}}">Services</a></li>
                <li><a href="">Individual</a></li>
                <li><a href="">Staff</a></li>
          </ul>
    </header>

    <main class="container">
        {% block content %}
        {% endblock%}
    </main>

    <footer class="page-footer blue darken-3">
        <div class="footer-copyright">
          <div class="container">
          © 2024 Copyright - Created by Ethan Trout
          <a class="white-text right" href="#!" target="_blank">Ethan Trout Github</a>
          </div>
        </div>
      </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static',filename='js/script.js') }}"></script>
    {% block script %}
    {% endblock %}
</body>
</html>