{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Add Cash Receipt</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('close_wallet',service_user_id = service_user.id,last_wallet_id = last_wallet_id,outstanding_money=outstanding_money,card_out_modal=card_out_modal)}}">
      <!-- Money spent description -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="money_spent_description" name="money_spent_description" minlength="2" maxlength="200"
                    type="text" class="materialize-textarea validate" required></textarea>
                <label for="money_spent_description">Receipt Name</label>
            </div>
        </div>

      <!-- Cash Out -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-sterling-sign prefix light-blue-text text-darken-4"></i>
                <input id="money_spent" name="money_spent" type="number" min="0" step="0.01" class="validate" >
                <label for="money_spent">Cash spent</label>
            </div>
        </div>

        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1">
                    Add <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>
    <!-- Done button -->
    <div class="row ">
        <div class="col s12 center-align">
            <a class="btn-large green darken-1" href="{{url_for('close_wallet_add_cash',service_user_id = service_user.id,last_wallet_id = last_wallet_id,outstanding_money=outstanding_money)}}">Done <i class="fa-solid fa-check"></i></a>
        </div>
    </div>



{% if all_receipts %}
    <div class="row">
    {% for receipt in all_receipts %}
        <div class="col s12 m6 l3">
          <div class="card light-blue darken-1">
            <div class="card-content white-text">
              <span class="card-title">Reciept: {{receipt[0]}}</span>
              <p>{{receipt[1]}}.</p>
              <b>£{{receipt[2]}}</b>
            </div>
          </div>
        </div>
    {% endfor %}
    </div>
{% endif %}

<div id="modal-over-total-out" class="modal">
    <div class="modal-content">
        <h4>More money than Cash taken out</h4>
        <p>Total outstanding:{{ outstanding_money|floatformat(2) }}</p>
    </div>
    <div class="modal-footer">
        <a href="" class="btn green accent-4 modal-close">Update Reciept</a>
    </div>
</div>

<div id="modal-bank-card-out" class="modal">
    <div class="modal-content">
        <h4>Bank Card out</h4>
        <p>Have you been banking? do you need to log cash out of bank?</p>
    </div>
    <div class="modal-footer">
        <a href="{{ url_for('banking_into_wallet',service_user_id=service_user.id,outstanding_money=outstanding_money) }}" class="btn green accent-4">got to Banking</a>
        <a href="{{url_for('close_wallet',service_user_id=service_user.id,last_wallet_id=last_wallet_id,outstanding_money=outstanding_money,card_out_modal='false')}}" class="btn red accent-4 modal-close">No</a>
        
    </div>
</div>

{% endblock %}

{% block script %}
{% if show_modal %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            
            var instance = M.Modal.getInstance(document.getElementById('modal-over-total-out'));
            instance.open();
            
        });
    </script>
{% endif %}

{% if card_out_modal %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        
        var instance = M.Modal.getInstance(document.getElementById('modal-bank-card-out'));
        instance.open();
        
    });
</script>
{% endif %}
{% endblock %}