{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Add Cash Receipt</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('close_wallet',service_user_id = service_user.id,last_wallet_id = last_wallet_id,outstanding_money=outstanding_money)}}">
      <!-- Money spent description -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="money_spent_description" name="money_spent_description" minlength="2" maxlength="200"
                    type="text" class="materialize-textarea validate" required></textarea>
                <label for="money_spent_description">Receipt Name</label>
            </div>
        </div>

      <!-- Cash Out -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-sterling-sign prefix light-blue-text text-darken-4"></i>
                <input id="money_spent" name="money_spent" type="number" min="0" step="0.01" class="validate" >
                <label for="money_spent">Cash spent</label>
            </div>
        </div>

        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1">
                    Add <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>
    <!-- Done button -->
    <div class="row ">
        <div class="col s12 center-align">
            <a class="btn-large green darken-1" href="{{url_for('close_wallet_add_cash',service_user_id = service_user.id,last_wallet_id = last_wallet_id,outstanding_money=outstanding_money)}}">Done <i class="fa-solid fa-check"></i></a>
        </div>
    </div>

{% endblock %}