{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Put Cash In</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('close_wallet_add_cash',service_user_id = service_user.id,last_wallet_id = last_wallet_id,outstanding_money=outstanding_money)}}">
    
      <!-- Cash In -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <input id="cash_in" name="cash_in" type="number" min="1" step="any" class="validate" >
                <label for="cash_in">Cash back in wallet</label>
            </div>
        </div>

        <!-- Wallet number -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <input id="seal_number" name="seal_number" type="number" min="1" step="any" class="validate" >
                <label for="seal_number">Seal number</label>
            </div>
        </div>

        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1">
                    Add <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
    

{% endblock %}