{% extends "base.html" %}

{% block url %}
<a a href="{{ get_previous_url() }}" class="btn-floating btn-large waves-effect waves-light red"><i class="fa-solid fa-arrow-left"></i></a>
{% endblock %}

{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Edit User</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('edit_user_password',staff_id=staff.id) }}">
        <!-- Full name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-regular fa-user prefix light-blue-text text-darken-4"></i>
                <input id="user_name" name="user_name" minlength="3" maxlength="124" type="text" class="validate" value="{{staff.name}}" disabled>
                <label for="user_name">Full Name</label>
            </div>
        </div>
         <!-- Password -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-regular fa-user prefix light-blue-text text-darken-4"></i>
                <input id="password" name="password" minlength="10" maxlength="124" type="text" class="validate" required>
                <label for="password">Password</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1" onclick="updateNavAlert('User password updated', 'green')">
                    Edit User <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}