{% extends "base.html" %}

{% block url %}
<a a href="{{ url_for('services') }}" class="btn-floating btn-large waves-effect waves-light red"><i class="fa-solid fa-arrow-left"></i></a>
{% endblock %}

{% block content %}

<h3 class="purple-text text-darken-3 center-align">Edit {{service.name}}</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('edit_service',service_id=service.id) }}">
        <!-- Service name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-house prefix purple-text text-darken-3"></i>
                <input id="service_name" name="service_name" value="{{service.name}}" minlength="3" maxlength="124" type="text" class="validate" required>
                <label for="service_name">Service Name</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large teal accent-4" onclick="updateNavAlert('Service updated', 'green')">
                    Edit Service <i class="fas fa-edit right"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col s6">
        <a href="{{ url_for('edit_service_staff', service_id=service.id) }}" class="btn yellow accent-4 left">Add Staff</a>
    </div>
    <div class="col s6">
        <a href="#modal-{{ service.id }}" class="btn red modal-trigger right">Delete Service</a>
    </div>
</div>

<h5 class="purple-text text-darken-3 center-align">Staff In Service</h5>
<div class="row">
{% for staff_member in staff_info %}

    <div class="col s12 m6 l3">
      <div class="card teal lighten-1 center-align">
        <div class="card-content white-text">
          <span class="card-title">{{staff_member.name}}</span>
        </div>
        <div class="card-action">
          <a href="#modal-{{ staff_member.id }}" class="btn red modal-trigger">Remove From Service</a>
        </div>
      </div>
    </div>

    <div id="modal-{{ staff_member.id }}" class="modal">
        <div class="modal-content">
            <h4>Are you sure you want to remove {{staff_member.name}} from {{service.name}}</h4>
            
        </div>
        <div class="modal-footer">
            <a href="{{ url_for('remove_staff_from_service', staff_id=staff_member.id, service_id=service.id) }}" 
            onclick="updateNavAlert('Staff removed from service', 'red')" 
            class="btn red">Remove</a>
            <a href="" class="btn green accent-4 modal-close">Cancel</a>
        </div>
    </div>
  
{% endfor %}
</div>
<!-- Modal Structure -->
<div id="modal-{{ service.id }}" class="modal">
    <div class="modal-content">
        <h4>Are you sure you want to delete {{service.name}}</h4>
        <p>this action can not be undone</p>
    </div>
    <div class="modal-footer">
        <a href="{{ url_for('delete_service', service_id=service.id) }}" 
        onclick="updateNavAlert('Service deleted', 'red')" 
        class="btn red">Delete</a>
        <a href="" class="btn green accent-4 modal-close">Cancel</a>
    </div>
</div>
{% endblock %}