{% extends "base.html" %}

{% block url %}
<a a href="{{ get_previous_url() }}" class="btn-floating btn-large waves-effect waves-light red"><i class="fa-solid fa-arrow-left"></i></a>
{% endblock %}

{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Take Cash Out</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('open_wallet',service_user_id = service_user.id)}}">
      <!-- Cash out description -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="cash_out_description" name="cash_out_description" minlength="5" maxlength="200"
                    type="text" class="materialize-textarea validate" required></textarea>
                <label for="cash_out_description">Cash Out Description</label>
            </div>
        </div>

      <!-- Cash Out -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-sterling-sign prefix light-blue-text text-darken-4"></i>
                <input id="cash_out" name="cash_out" type="number" min="0" step="0.01" class="validate" >
                <label for="cash_out">Cash Out</label>
            </div>
        </div>

        <!-- is Bank Card Out -->
        <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
                    <label for="bank_card_removed">
                        <input id="bank_card_removed" name="bank_card_removed" type="checkbox">
                        <span class="lever"></span>
                        is_bank_card_out
                    </label>
                </div>
            </div>
        </div>


         <!-- SealNumber -->
         <div class="row">
          <div class="input-field col s12">
              <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
              <input id="seal_number" name="seal_number" type="number" min="1"  class="validate" required >
              <label for="seal_number">Seal Number</label>
          </div>
      </div>

        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1" onclick="updateNavAlert('Recorded: Cash Taken out', 'green')" >
                    Add  <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}