{% extends "base.html" %}
{% block content %}

<h3 class="purple-text darken-3 center-align">Services</h3>

{% if session["user_access"]in ["manager", "it"] %}
    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_service') }}" class="btn-large teal accent-4">
                Add Service <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>
{% endif %}

<div class="row">
    {% for service in services %}
    <div class="col s12 m6 l3">
        <div class="card teal lighten-1 center-align">
            <div class="card-content white-text">
                <i class="fa-solid fa-house"></i>
                <span class="card-title">{{ service.name | shorten_text(15) }}</span>
            </div>
            <div class="card-action">
                {% if session["user_access"]in ["manager", "it"] %}
                    <a href="{{ url_for('edit_service',service_id=service.id) }}" class="btn-small green accent-4">Edit</a>
                {% endif %}
                <a href="{{url_for('service_users_in_service',service_id=service.id)}}"class="btn-small teal accent-4">View People</a>
            </div>
        </div>
    </div>


    {% endfor %}
</div>


{% endblock %}