{% extends "base.html" %}

{% block url %}
<a a href="{{ url_for('users') }}" class="btn-floating btn-large waves-effect waves-light red"><i class="fa-solid fa-arrow-left"></i></a>
{% endblock %}

{% block content %}

<h3 class="purple-text text-darken-3 center-align">Set Up Wallet</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('set_up_wallet',service_user_id = service_user.id)}}">

      <!-- Cash Amount -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-sterling-sign prefix purple-text text-darken-3"></i>
                <input id="cash_amount" name="cash_amount" type="number" max="99999999.99" min="0" step="0.01" class="validate" required >
                <label for="cash_amount">Total Cash In Wallet</label>
            </div>
        </div>


        <!-- Bank Amount -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-piggy-bank prefix purple-text text-darken-3"></i>
                <input id="bank_amount" name="bank_amount" maxlength="11" type="number" min="0" step="0.01" class="validate" required >
                <label for="bank_amount">Total Money In Bank Account</label>
            </div>
        </div>

         <!-- SealNumber -->
         <div class="row">
          <div class="input-field col s12">
              <i class="fas fa-folder-open prefix purple-text text-darken-3"></i>
              <input id="seal_number" name="seal_number" type="number" min="1"  class="validate" required >
              <label for="seal_number">Seal Number</label>
          </div>
      </div>

        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large teal accent-4" onclick="updateNavAlert('Recorded: Wallet Set up', 'green')">
                    Add <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}