{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Take Cash Out</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('set_up_wallet',service_user_id = service_user.id)}}">

      <!-- Cash Amount -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <input id="cash_amount" name="cash_amount" type="number" min="1" step="any" class="validate" >
                <label for="cash_amount">Total Cash In Wallet</label>
            </div>
        </div>


        <!-- Bank Amount -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <input id="bank_amount" name="bank_amount" type="number" min="1" step="any" class="validate" >
                <label for="bank_amount">Total Money In Bank Account</label>
            </div>
        </div>

         <!-- SealNumber -->
         <div class="row">
          <div class="input-field col s12">
              <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
              <input id="seal_number" name="seal_number" type="number" min="1"  class="validate" required >
              <label for="seal_number">Seal Number</label>
          </div>
      </div>

        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1">
                    Add Service <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}