{% extends "base.html" %}

{% block url %}
<a  href="{{ get_previous_url() }}" class="btn-floating btn-large waves-effect waves-light red"><i class="fa-solid fa-arrow-left"></i></a>
{% endblock %}

{% block content %}

<h3 class="purple-text text-darken-3 center-align">Users</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_user') }}" class="btn-large teal accent-4">
            Add User <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<ul class="collapsible">
    {% for staff_member in staff %}
    <li>
      <div class="collapsible-header white-text teal lighten-1"><i class="fa fa-caret-down"></i><strong>{{staff_member.name}}</strong> : {{staff_member.access}}</div>
      <div class="collapsible-body">
        <strong>Services.</strong>
        {% if staff_member.services != Null%}
            {% for service in staff_member.services %}
                <p>{{service}}</p>
            {% endfor %}
        {% endif%}
        <p>
            <a href="{{ url_for('edit_user',staff_id=staff_member.id) }}" class="btn green accent-4">Edit details</a>
            <a href="{{ url_for('edit_user_password',staff_id=staff_member.id) }}" class="btn yellow accent-4">Update Password</a>
            <a href="#modal-{{ staff_member.id }}" class="btn red modal-trigger">Delete</a>
        </p>
        
        <!-- Modal Structure -->
        <div id="modal-{{ staff_member.id }}" class="modal">
            <div class="modal-content">
                <h4>Are you sure you want to delete {{staff_member.name}}</h4>
                <p>this action can not be undone</p>
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('delete_user',staff_id=staff_member.id) }}" class="btn red" onclick="updateNavAlert('User deleted', 'red')">Delete</a>
                <a href="" class="btn green accent-4 modal-close">Cancel</a>
            </div>
        </div>
        
      </div>
    </li>
    {% endfor %}
  </ul>
  
{% endblock %}