{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">View Wallet</h3>

<table class="responsive-table striped highlight">
    <thead>
      <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Cash Spent</th>
          <th>Receipt number</th>
          <th>Cash In</th>
          <th>Cash Out</th>
          <th>Balance</th>
          <th>Bank in</th>
          <th>Bank Out</th>
          <th>Bank Balance</th>
          <th>Seal Number</th>
          <th>Staff Name</th>
      </tr>
    </thead>

    <tbody>
        {% for wallet_entry in wallet_entries %}
        <tr>
            <td>{{wallet_entry.date_time}}</td>
            <td>{{wallet_entry.money_spent_description}}</td>
            <td>{{wallet_entry.money_spent}}</td>
            <td>{{wallet_entry.receipt_number}}</td>
            <td>{{wallet_entry.cash_in}}</td>
            <td>{{wallet_entry.cash_out}}</td>
            <td>{{wallet_entry.cash_amount}}</td>
            <td>{{wallet_entry.bank_in}}</td>
            <td>{{wallet_entry.bank_out}}</td>
            <td>{{wallet_entry.bank_amount}}</td>
            <td>{{wallet_entry.seal_number}}</td>
            <td>{{wallet_entry.staff.name}}</td>
            
        </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}